# Simple example

In [1]:
from viresclient import ClientRequest
import datetime as dt

url = "https://testing.viresdisc.vires.services/openows"
username = ""
password = ""
request = ClientRequest(url,username,password)

request.set_collection("SW_OPER_MAGA_LR_1B")

measurements = ["F","B_NEC"]
models = ["MCO_SHA_2C", "MMA_SHA_2C-Primary"]
auxiliaries = ["QDLat", "QDLon"]
request.set_products(measurements, models, auxiliaries, residuals=False, subsample="PT10S")

start_time = dt.datetime(2016,1,1)
end_time = dt.datetime(2016,1,2)
data = request.get_between(start_time, end_time, filetype="csv")

Processing: 100%|██████████|  [ Elapsed: 00:02, Remaining: 00:00 ]

Downloading...

In [2]:
df = data.as_dataframe()
df.head()

,Spacecraft,Latitude,Longitude,Radius,F,B_NEC,F_MCO_SHA_2C,B_NEC_MCO_SHA_2C,F_MMA_SHA_2C-Primary,B_NEC_MMA_SHA_2C-Primary,QDLat,QDLon
Timestamp,,,,,,,,,,,,
2016-01-01 00:00:00,A,-72.499225,92.793968,6833853.10,46935.8090,"[-1580.9623, -10494.5508, -45720.5906]",46816.7997,"[-1576.64944, -10311.6502, -45639.8596]",85.199162,"[-34.2109781, 8.16203091, -77.6008215]",-81.095398,103.605850
2016-01-01 00:00:10,A,-73.130685,93.091639,6833864.75,46908.3142,"[-1841.6017, -10472.1489, -45687.7453]",46793.1098,"[-1839.74991, -10289.1642, -45610.7832]",85.531435,"[-33.426937, 8.26854044, -78.2936615]",-81.428322,100.168869
2016-01-01 00:00:20,A,-73.761537,93.414903,6833875.99,46878.3766,"[-2108.2513, -10439.0711, -45653.0421]",46767.1747,"[-2106.46241, -10260.3687, -45579.1211]",85.864048,"[-32.6252043, 8.37835667, -78.9812248]",-81.729675,96.476830
2016-01-01 00:00:30,A,-74.391708,93.766833,6833886.83,46846.0580,"[-2381.3929, -10403.5121, -45614.5157]",46738.9996,"[-2377.3128, -10224.8, -45544.8783]",86.196966,"[-31.8053057, 8.49185654, -79.6632156]",-81.995933,92.530456
2016-01-01 00:00:40,A,-75.021114,94.151014,6833897.26,46811.5557,"[-2657.3877, -10359.9614, -45573.7641]",46708.5872,"[-2652.89398, -10181.9109, -45508.0539]",86.530156,"[-30.9666901, 8.60947127, -80.3393361]",-82.223518,88.339935